*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.copilot-instructions.md
.env.local
/.scribe
/.scribe/*
.env.builder
.scribe/endpoints/00.yaml
.scribe/endpoints/01.yaml
.scribe/endpoints/02.yaml
.scribe/endpoints/03.yaml
.scribe/endpoints/04.yaml
.scribe/endpoints.cache/00.yaml
.scribe/endpoints.cache/01.yaml
.scribe/endpoints.cache/02.yaml
.scribe/endpoints.cache/03.yaml
.scribe/endpoints.cache/04.yaml
.scribe/endpoints/00.yaml
.scribe/endpoints/01.yaml
.scribe/endpoints/02.yaml
.scribe/endpoints/03.yaml
.scribe/endpoints/04.yaml
.scribe/endpoints.cache/00.yaml
.scribe/endpoints.cache/01.yaml
.scribe/endpoints.cache/02.yaml
.scribe/endpoints.cache/03.yaml
.scribe/endpoints.cache/04.yaml
